<% @teams.each do |f| %>
  <div class="col-md-4">
    <div class="panel card">
      <div class="card-img-top">
        <%# if f.image? %>
          <%= link_to image_tag( f.image.url,class: "style_image"), add_to_team_team_path(id: f.id) %>
        <%#else %>
          <%#= link_to image_tag ("group.jpg"), add_to_team_path(f)%>
        <%#end %>
      </div>
      <div class="card-block">
        <h4 class="card-title"><%= f.name %></h4>
        <p class="card-text">Size :<%= f.max_no_users %></p>
        <% if current_user.admin? %>
          <div class="row">
            <div class="col-md-6">
              <%= link_to 'Edit Team', edit_team_path(f), class: "btn btn-primary" %>
            </div>
            <div class="col-md-6">
              <%= link_to 'Delete Team', show_delete_modal_team_path(id: f.id),  {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#delete_modal-window', 'class' => "btn btn-primary"}  %>
            </div>
          </div>
        <%else%>
          <%= link_to 'Left Team', remove_user_team_path(user_id: current_user.id,id: f.id), class: "btn btn-primary", remote: true %>
        <%end%>

      </div>
    </div>
  </div>
<%end%>



<script>
    $(function() {
        $('#link').click(function() {
            bootbox.alert("Hello world!");
        })
    })
</script>
