<div class="bodyDiv">

  <!-- Common division -->
  <div class="row">
    <div class="team col-md-3 teamImage">
       <%= image_tag @team.image.url, :class => "img-circle style_image"  %>
    </div>
    <div class="team col-md-7">
      <h1><%= @team.name%></h1>
      <h3>Team Size  :<%= @team.max_no_users %></h3>
      <!-- <h3> --><%#= @team.users.count(@team.id) %>
    </div>
    <div class="team col-md-2">
     <%= link_to 'Back', teams_path %>
     </div>
  </div>
  <!-- Common division ended -->


<div id="modal-window" class=" modal modal-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


  <!-- Common tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Members</a></li>
    <li><a data-toggle="tab" href="#task">Task</a></li>
  </ul>
  <!-- Tabs ended -->

  <!-- Tab content -->
  <div class="tab-content">
   <!-- tab one member display -->
    <div id="home" class="tab-pane fade in active">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-hover", id="user_table">
            <tbody>
                <%= render partial: 'user_details' %>
            </tbody>
          </table>
        </div>
        <!-- Add user only for admin -->
        <%if current_user.admin? %>
          <div class="col-md-6">
            <%= form_for(@user, url: custom_user_user_path, remote: true, html:{ id: "user_form" }, validate: true) do |f| %>

              <div class="form">
                <div id="error_div">

                </div>
                <%=f.label :Add_New_Users %>
                <%= f.email_field :email, placeholder: "Email" %>
                <%= f.text_field :first_name, autofocus: true, placeholder: "First name" %>
                <%= f.text_field :last_name, placeholder: "Last name"%>
                <%= f.date_field :dob, class: "datepicker", placeholder: "Date of birth"%>
                <%= f.text_field :phone_number, placeholder: "Phone number"%>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
                <div class="actions">
                  <%= f.submit "Add User", class: "btn btn-primary blueText addUser" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <!--Add user only for admin -->
      </div>
    </div>
    <!-- tab one member display ended -->
    <!-- tab two tasks -->
    <div id="task" class="tab-pane fade">
      <div class="row">
        <% if current_user.admin? %>
        <div class="row">
          <div class="col-md-6">
            <div class="login-page">
              <div id="task_error_div">
                <%= render partial: 'tasks/task_error_partial' %>
              </div>
              <div class="form">
                <h2>ASSIGN TASK </h2>
                <div id="bodyDiv">
                  <%= render partial: 'tasks/new_task_create' %>
                  </div>
                </div>
              </div>
            </div>


          <div class="col-md-6">
            <table class="table table-hover", id="task_table">
              <tbody>


                  <%= render partial: 'tasks/task_status' %>

              </tbody>
            </table>
          </div>
        </div>
      <% else %>

        <table class="table table-hover", id="user_table">
          <tbody>
            <tr>
              <th class="tdPadding">
                Task
              </th>
              <th class="tdPadding">
                Duration
              </th>
              <th class="tdPadding">
                Status
              </th>
              <th class="tdPadding">
              </th>
            </tr>
            <%@user_tasks.each do|task| %>
              <tr>
                <td class="tdPadding"><%= task.name %></td>
                <td class="tdPadding"><%= task.duration %></td>
                <td class="tdPadding"><%= task.status %></td>
                <td class="tdPadding"><%= link_to 'Task Status', task_action_task_path(task),  {    remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>   </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

</div>


































