<div class="bodyDiv">
  <div id="delete_modal-window">
  </div>
  <div class="row">
    <% if current_user.admin? %>
      <div class="col-md-9">
        <div id="groups_table">
           <%= render partial: 'groups' %>

        </div>
      </div>
      <div class="col-md-3 panel panel-success panelPadding text-center">
           <%#= link_to 'Add New Team', new_team_path, class: "btn btn-primary" %>
           <h2>NEW TEAM</h2>
        <%= form_for(@team, remote:true, html: {id: "team_form"}, validate: true) do |f| %>
          <div id="team_error_div">

          </div>

          <div class="field" >
            <%#= f.label :Team_name, :class => "label" %><br />
            <%= f.text_field :name ,autofocus: true, placeholder: "Team name", validate: true %>
          </div>

          <div class="field">
            <%= f.label :image, :class => "label" %><br />
            <%= f.file_field :image %>
          </div>

           <div class="field" >
            <%#= f.label :Maximum_size, :class => "label" %><br />
           <%= f.text_field :max_no_users, autofocus: true, placeholder: "Size", validate: true%>
          </div>
          <%= f.submit "CREATE" ,:class => "btn btn-primary " %>

        <% end %>
      </div>
    <% else %>
      <div id="groups_table">
        <%= render partial: 'groups' %>
      </div>
    <% end %>
  </div>
</div>
