<div class="login-page">
  <div class="form">
<h2>Sign up</h2>

<%= form_for @user, :url => { :action => "custom_create" }, :html => { :method => "post" } do |f| %>

   <div class="field">
    <%= f.label :First_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :Last_name %><br />
    <%= f.text_field :last_name%>
  </div>
  <div class="field">
    <%= f.label :DOB %><br />
    <%= f.text_field :dob%>
  </div>
  <div class="field">
    <%= f.label :Phone_number %><br />
    <%= f.text_field :phone_number%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
<div>
</div>
