  <tr>
    <td class="tdPadding"><%= @task.name %></td>
    <td class="tdPadding"><%= @task.user.full_name %></td>
    <td class="tdPadding"><%= @task.duration %></td>
    <td class="tdPadding"><%= @task.status %></td>
    <td class="tdPadding"> <%= link_to "delete",task_path(team_id: @team.id, id: @task.id), method: :delete, data: { confirm: "You sure?" }, remote: true %></td>
  </tr>

