
    <div class="card">
        <%= form_for(@user) do |f| %>
          <%#= @user.email %>
          <% if  @user.picture? %>
             <%= image_tag @user.picture.url %>
          <% else %>
             <%= image_tag ("user.jpg"), size: "100x100"%><br>
          <% end %>
          <h1><%=@user.first_name%></h1>
          <b class="title"> <%= "Change your profile picture :" %></b>
          <%= f.file_field :picture %>
          <%= f.submit "Upload", class: "buttonUpload" %>
          <%= link_to 'change password',  show_change_password_path(@user), class: "btn btn-primary" %>
        <%end %>
    </div>





