<%= form_for(@user, url: custom_user_path) do |f| %>

<div class="login-page">
<!--   <div class="form"> -->
   <!--  <h2>Sign up</h2> -->

      <div class="field">
        <%#= f.label :First_name %><br />
        <%= f.text_field :first_name, autofocus: true, placeholder: "First name" %>
      </div>
      <div class="field">
        <%#= f.label :Last_name %><br />
        <%= f.text_field :last_name, placeholder: "Last name"%>
      </div>
      <div class="field">
        <%#= f.label :DOB %><br />
        <%= f.text_field :dob, class: "datepicker", placeholder: "Date of birth"%>
      </div>
      <div class="field">
        <%#= f.label :Phone_number %><br />
        <%= f.text_field :phone_number, placeholder: "Phone number"%>
      </div>

      <div class="field">
        <%#= f.label :email %><br />
        <%= f.email_field :email, placeholder: "Email" %>
      </div>

      <div class="field">
        <%#= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>

      <div class="field">
        <%#= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Add User" %>
      </div>
    <% end %>
<!--   </div> -->
</div>



