<div class="login-page">
<% if @user.errors.any? %>
    <ul class="errors">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
  <div class="form">
    <h2>UPDATE PROFILE</h2>
    <%= form_for(@user, url: edit_user_profile_user_path) do |f| %>
      <div class="field" >
        <%= f.label :First_Name, :class => "label" %>
        <%= f.text_field :first_name, autofocus: true %>
      </div>
      <div class="field" >
        <%= f.label :Last_Name, :class => "label" %>
        <%= f.text_field :last_name %>
      </div>
      <div class="field" >
        <%= f.label :DOB, :class => "label" %>
        <%= f.text_field :dob, class: "datepicker", value: @user.dob.strftime("%d/%m/%y")%>
      </div>
      <div class="field" >
        <%= f.label :Phone_Number, :class => "label" %>
        <%= f.text_field :phone_number %>
      </div>
      <div class="field" >
        <%= f.label :Email, :class => "label" %>
        <%= f.text_field :email %>
      </div>

      <%= f.submit "UPDATE" ,:class => "btn btn-primary blueText"%>
    <% end %>
  </div>
</div>
